@media screen and (min-width: 250px) and (max-width: 1980px) {
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}
html, body {
  min-height: 100%;
}
body {
  background: radial-gradient(at top left, rgba(146,43,225,1) 0%, rgba(43,9,107,1) 100%);
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* add */
@media (min-width:40em) {
    .layout {
        flex-direction: row;
    }
}

/* layout & nav */
.layout {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
  }
  nav .links {
    display: inline-block;
    text-align: right;
  }
  nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
  }
  nav a:hover {
    border-color: white;
  }

  .section-gap {
    padding: 40px 0;
  }
}

  /* Social media icons */
  @media screen and (min-width: 250px) and (max-width: 1980px) {
  .footer__social {
      margin-bottom: .55rem;
  }
  
  
  .footer__social {
      grid-area: social;  
  }
  
  .footer__social a {
    display: fixed;
    height: 1.25rem;
    
  }
  .footer__social a svg path {
    transition: fill 150ms ease-in-out;
  }
  .footer__social a:hover svg path {
    fill: #31d35c;
  }
  .footer__social a:not(:last-child) {
    margin-right: 1rem;
  }

  .footer-section {
    display: grid;
    align-items: center;
  }

  .footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: grey;
  }

  footer p{
    text-align: center;
    color: #bbb;
    margin: 10px auto;
  }
}
