/* add */
@media screen and (min-width: 250px) and (max-width: 1980px) {
@media (min-width:40em) {
    .portfolio-container {
        flex-direction: row;
    }
    .portfolio-container > * {
        flex-basis: 100%;
    }
}

.portfolio {
    text-align: center;
  }
  .portfolio > h2 {
    font-size: 3em;
    margin-top: 80px;
  }
  .portfolio > h3 {
    font-size: 2em;
    font-weight: 400;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 80px 20px;
  }
  .projects h3 {
    text-align: center;
    margin: 20px auto 0px;
    font-weight: 500;
  }
  .projects p {
    color: #ccc;
    margin-top: 4px;
  }
}